* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

HTML,body {
  height: 100%;
  width: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(3, 3, 3);

}
#main>h1 {
  font-size: 10rem;
  font-family: 900;
  text-transform: uppercase; 
  /* transition: all linear ease 0.2s; */
  cursor: pointer;
}
#main>.cursor {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: white;
  mix-blend-mode: difference;
  transition: all linear ease 0.2s;
  cursor: pointer;
}